
.icon-mail-circled:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled:before { content: '\f054'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */